registry=https://artifactory-ehv.ta.philips.com/artifactory/api/npm/synergy-npm/
; required for NPM v8
//artifactory-ehv.ta.philips.com/artifactory/api/npm/synergy-npm/:_auth=${NPM_AUTH_TOKEN}
; required for NPM v8
//artifactory-ehv.ta.philips.com/artifactory/api/npm/synergy-npm/:always-auth=true
save-exact=true
unsafe-perm=true
prefix=${HOME}/npm

auto-install-peers=true
strict-peer-dependencies=false
save-prefix=
